.navbar-nav li{
	font-weight: bold;
	font-family: Bitter,Georgia,Times,"Times New Roman",serif;
	font-size: 1.2em;
}
.Line{
	margin-top: -20px;
}


body{
	background-color: #2f4050;
}
.col-sm-10{
	background-color: #ffffff;
}

#Side-Menu a{
	color: #9fb1c2;
}

#nav{
	font-size: 18px;
	color: black;
}

#Side-Menu .active a{
	color: #ffffff;
	background-color: #27AAE1;
	font-weight: bold;
}

#Side-Menu a:hover{
	color: #ffffff;
	background-color: #1ab394;
	font-weight: bold;
	display: block;
}

#footer{
	padding: 10px;
	border-top: 1px solid black;
	color: #eeeeee;
	background-color: #211f22;
	text-align: center;
}

