body{
  background-color: #ffffff;
  font:15px/1.5 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:hover {
   text-decoration:none;
   color: gray;
}
p:hover {
   text-decoration:none;
   color: gray;
}
a{
   text-decoration:none;
   color: #000000;
}

ul{
  margin: 0;
  padding: 0;
}
.submit{
  height: 30px;
  background: #e40c78;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
span .f-header, span .f-para{
  float: right;
}
span .f-header{
}
article a{
  text-decoration: none;color: #ffffff
}
article p{
  padding-top: 10px;
  color: #e40c78;
}
article span{
  padding-top: 80px;
}

/*Header*/
section a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

section ul{
  margin: 0;
  padding: 0;
}
section li{
  margin-top: 20px;
  float: left;
  display: inline;
  padding: 0 0px 0 30px;
}
section li a{
  font-size: 12px;
}
section li a:hover{
  text-decoration: none;
  color: gray;
}
section .navbar{
  margin-top: 0px;
  background: transparent;
  width: 60%;
  float: left;
  border: none;
  margin-left: -60px;

}

section .current a{
  color: #e40c78;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 100px;
    object-fit: cover;

}
#newsLetter{
 background: #2b2d32;
  color: #ffffff;
  padding-top: 0px;
  max-height: 54px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#newsLetter form{
  float: right;
  margin-top: 11px;

}
span #nav{
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}
form .search{
padding: 1px;
height: 30px;
width: 200px;
color: #000000;
  }
  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}


  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;

}

.container .row .main-column{
  width: 68%;
  float: left;
  margin-bottom: 10px;
}

.container .row .main-column .full-text{
  background-color: #ffffff;
}
blog_main-post{
  width: 100%;
  margin-left: 22px;

 
}

.blog_main-post .blog_item-post{
  padding-top: 10px;
  width: 100%;
  clear: both;
  display: block;
 border-top: 1px solid rgb(229, 229, 229);
    
}
.blog_main-post .blog_item-post .blog_item-images{
  float: left;
  width: 25%;
  max-height: 670px;
}

.blog_main-post .blog_item-post .blog_item-image{
width: 100%;
max-height: 570px;
}
.blog_main-post h1{
  font-size: 18px;
  margin: 0px;
}
.blog_main-post .blog_item-post .blog_main-header{
  color: #1C2833;

}
 .blog_main-post .blog_item-post span{
  margin-left: 8px;
}
.blog_main-post .blog_item-post #Published{
    color: #e40c78;

}
.blog_main-post .blog_item-post #comments{
    color: gray;
    margin-left: 0px;

}
div .btn_post{
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 20%;
  float: right;
}
 .look_more-post{
  text-decoration: none;
  color: #ffffff;
  background-color: #e40c78;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
    }


    .main-blog-area .main-blog .main-post li .main-post-data a{
 float: left;
 width: 19.5%;
 margin-left: 4px;
 height: 340px;
}
.main-blog-area .main-blog .main-post li .main-post-data a img{

  width: 100%;
      box-shadow: 1px 1px 1px 1px #D1D1D1;

}
.main-blog-area .main-blog .main-post li .main-post-data a img:hover{
    box-shadow: 2px 2px 2px 2px #D1D1D1;
    
}
 .column .col-sm-3{
  margin-top: 120px;
  margin-left: 140px;
  width: 21%;
}
 .column .col-sm-3 img{
  margin-top: 5px;
  margin-left: 14px;
  width: 220px;
 }

  .column .col-sm-3 .pull-left{
margin-top: 25px;
margin-left: 14px;
width: 220px;
  }


 .column .col-sm-3 .post-title{
margin-left: 15px;
color: #1C2833;
font-size: 16px;
width: 240px;
 }

  .column .col-sm-3 .date__time{
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: -15px;
    color: gray;
  }


  @media only screen and (max-width: 1341px) {
    form{
      display: none;
    }
    .column .col-sm-3{
      display: none;
    }
    .container .row .main-column{
      width: 100%;
    }
}
  @media only screen and (max-width: 800px) {
    
    .container .row .main-column{
      width: 100%;
    }
}


@media (min-width: 1341px) and (max-width: 1536px) {
    .column .col-sm-3{
      width: 21.5%;
    }
    .container .row .main-column{
      width: 65%;
    }
}








  @media only screen and (max-width: 2000px)  and(min-width: 1999px) {
  
    .column .col-sm-3{
      width: 16.5%;
    }
    .container .row .main-column{
      width: 75%;
    }
}

  


/*
  @media only screen and (max-width: 1341px) {
      .column .col-sm-3{
       width: 22%;
             margin-bottom: 20px;

    }
    .container .row .main-column{
      width: 65%;
    }


  }



