body{
  background-color: #ffffff;
  font:15px/1.5 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:hover {
   text-decoration:none;
   color: gray;
}
p:hover {
   text-decoration:none;
   color: gray;
}
a{
   text-decoration:none;
   color: #000000;
}

ul{
  margin: 0;
  padding: 0;
}
.submit{
  height: 38px;
  background: #e40c78;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
span .f-header, span .f-para{
  float: right;
}
span .f-header{
}
article a{
  text-decoration: none;color: #ffffff
}
article p{
  padding-top: 10px;
  color: #e40c78;
}
article span{
  padding-top: 80px;
}

/*Header*/
section a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

section ul{
  margin: 0;
  padding: 0;
}
section li{
  margin-top: 20px;
  float: left;
  display: inline;
  padding: 0 0px 0 30px;
}
section .navbar{
  margin-top: 5px;
  background: transparent;
  width: 60%;
  float: left;
  border: none;
  margin-left: -60px;

}

section .current a{
  color: #e40c78;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 100px;
    object-fit: cover;

}
#newsLetter{
 background: #2b2d32;
  color: #ffffff;
  padding-top: 0px;
  min-height: 1px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#newsLetter form{
  float: right;
  margin-top: 20px;

}
span #nav{
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}
form .search{
padding: 4px;
height: 38px;
width: 200px;
color: #000000;
  }
  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}


  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;

}

.center{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.c-rock-list__title:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 2;
  }
  .c-rock-list__title:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.c-rock-list__title {
    font-family: Arial Narrow,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.6em;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    text-align: center;
    padding: 0 16px 8px 16px;
    margin: 0;
    color: #e40c78;
}
.c-rock-list__title {
    position: relative;
}
.c-rock-list__body {
    position: relative;
    }
    .c-rock-list__body {
    position: relative;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
  }
  .c-rock-list__body:after {
    position: absolute;
    background-color: #393092;
    width: 2px;
    content: "";
    bottom: 130px;
    right: -1px;
    top: -2px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list {
    background-color: #ffffff;
    color: #424242;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    }
    *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__more:after {
    bottom: -12px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
  }
  .c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
  }
  .c-rock-list__more:after {
    display: ;
    margin-left: 4px;
    content: " \25B6";
    font-size: .5em;
    vertical-align: middle
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
 .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
}
.c-rock-list__more:before {
    bottom: -10px;
    left: 0;
    right: -4px;
    text-decoration: none;
}
.c-rock-list__more:hover{
    color: black;

}

.aside-column .col-sm-3{
  width: 280px;
}
.aside-column .col-sm-3 .c-rock-list__body .c-rock-list__item--body img{
  margin-top: 14px;
  margin-left: 14px;
  width: 230px;

}
.aside-column .col-sm-3 .c-rock-list__body .c-rock-list__item--body .head{
  margin-left: 15px;
  color: black;
}
.aside-column .col-sm-3 .c-rock-list__body .c-rock-list__item--body p .description{
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: -15px;
  font-size: 12px;
}





.navbar-nav li{
	font-size: 1.2em;

	
}
.Line{
	margin-top: -20px;
}
.footer{
	padding: 10px;
	border-top: 1px solid black;
	color: #eeeeee;
	background-color: #000000;
	text-align: center;

}

.blogpost{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}
#heading{
  font-size: 28px;
}

#headings:hover{
	color: #0090DB;

}
#nav:hover{
	background-color: black;
}



#heading:hover{
	color: #0090DB;
}

.description{
	color: #868686;
	margin-top: -2px;
}
.description:hover{
        color: #0090DB;

}
.post{
	font-size: 1.1em;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-align: justify;
  width: 50%;
}
.btn-info{
	float: right;
}
.imageicon{
	max-width: 50px;
	margin: 0 auto;
	display: block;

}
.background{
	background-color: #F6F7F9;
}

 .Recently{
    background-color: #F6F7F9;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.center{
	  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.search:hover{
    background-color: white;
}
.col-sm-offset-1{
    margin-top: 280px;
    margin-left: 5px;
}
.icon{
    margin-left: 150px;
}
.facebook{
    font-size:48px;
}

  .FieldInfo{
    color: #e40c78;
    font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    font-size: 1.2em;
  }
           
.commentBlock{
  background-color: #F6F7F9;
 }

.Comment-info{
   color: #365899;
  font-family: sans-serif;
  font-size: 1.1em;
 font-weight: bold;
  padding-top: 10px;
}

.description{
  color: #868686;
  font-weight: bold;
  margin-top: -2px;
}

.comment{
  margin-top: -2px;
  padding-bottom: 10px;
  font-size: 1.1em;

}

.default__yn_LCxrffG {
    border: 1px solid rgba(0,0,0,.2);
    border-top: 8px solid #e40c78;
    border-radius: 3px;
    padding-bottom: 1rem;
}
           .package__fTJxTFE5iG {
    width: 100%;
    font-family: Proxima Nova,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.package__fTJxTFE5iG {
    width: 100%;
    font-family: Proxima Nova,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}
#footer-area{
    padding: 90px 0 60px 0;
    background: #000;
    color: #fff;
      font-family: 'Times New Roman', Times, serif;

}
.footer-social{
    margin-top: 20px;

}
.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
  font-family: 'Times New Roman', Times, serif;
}
.link-area li{
  padding: 5px 5px 5px;
  list-style: none;
}
.link-area li a{
  text-transform: capitalize;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.link-area li a i{
  margin-right: 10px;
  color: #e40c78;
}
.link-area{
  padding: 0;
}
.single-footer p{
  font-family: 'Times New Roman', Times, serif;
}
.footer-social li a{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #000;

}

.footer-social li a i{
  color: #e40c78;
  padding: 8px;
}
.widget li{
  float: left;
  width: 50%;
}
.copyright-area{
  background: #262626;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: -59.9px;
  border-right: none;border-left: none;-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;

}
.copyright-area p{
  font-weight: 600;
  color: #e40c78;
  margin-top: 20px;
}
.copyright-header{
  background: #000;
  padding: 30px 0;
  margin-top: 1px;
  border-radius: 5px;
}
.copyright-header p{
  font-weight: bold;
  color: #e40c78;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}


.container .row .main-column{
  width: 68%;
  float: left;
}

.container .row .main-column .full-text{
  background-color: #ffffff;
}
.container .row .main-column .full-text .post-header h1{
  font-size: 40px;
  color: black;
  margin-left: 8px;
  
}
.container .row .main-column .full-text .post-header .description{  
  margin-left: 8px;
}

.container .row .main-column .full-text .icon{
  margin: 0;
  margin-left: 8px;
}
.container .row .main-column .full-text .icon .fa{
  color: #e40c78;
}
.container .row .main-column .full-text .img-responsive{
  border-right: none;border-left: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.container .row .main-column .full-text .caption {
  margin-top: 20px;

}


.container .row .main-column .full-text .caption p{
  
  width: 48em;
}

.container .row .main-column .full-text .package{
 margin-left: 14px;
 width: 53em;
 height:19em;
 display: inline-block;
 margin-top: 55px;
}
.container .row .main-column .full-text .package .recomended{
  margin-left: 15px;
  margin-top: 6px;
  color: #e40c78;
  font-weight: bold;
}
.container .row .main-column .full-text .package .card{
  width: 16rem;
  display: inline-block;
  margin-left: 3.5px;
  
}
.container .row .main-column .full-text .package .card .card-header{
  width: 100%;
  margin-left: 35px;
  margin-top: 15px;
}
.container .row .main-column .full-text .package .card .card-header img{
  margin: 0px;
  margin-right: 15px;
}
.container .row .main-column .full-text .package .card .card-body{
  margin-left: 35px;
  width: 20em;
}
.container .row .main-column .full-text .package .card .card-body .titl{
  width: 80%;
  color: black;
  font-size: 15px;
  padding-top: 10px;
}
.container .row .main-column .full-text .package .card .card-body .description{
  font-size: 12px;
  margin-top: 2px;
}
span .FieldInfo{
  color: black;
  font-size: 30px;
}
div .commentBlock{
  background-color: #ffffff;
  margin-left: 15px;
}

div .commentBlock img{
  margin-top: 10px;
}
div .commentBlock p{
  margin-left: 100px;
}
div .user-comment{
  margin-left: 15px;
  margin-top: 15px;
}

fieldset .form-control{
  width: 90%;
}


fieldset .btn{
  background-color: #e40c78;
  color: #ffffff;
}

.container .row .aside-column{
  width: 30%;
  float: right;
}

@media only screen and (max-width: 360px){   
    .blog_main-post .blog_item-post{
      width: 100%;
      float: left;
    }
    .blog_main-post{
      width: 100%;
    }
    .aside-column{
      display: none;
    }

    .main-column{
      width: 100%;
    }
  form{
    display: none;
  }

}


  @media only screen and (max-width: 360px) and (min-width: 359px) {

    form{
      display: none;
    }

    .container .mainpost, .container article, .container .card{

    }
    .container .card{
      width: 100%;
    }

    .container article{
      width: 100%;
    }
    .container article img{
      width: 100%;
    }
    .main-blog-area .card{
      width: 100%;
      min-height: 280px;
    }
    .main-blog-area .card img{
      width: 100%;
      float: left;
      max-height: 390px;
    }
    .main-blog-area .card p{
      margin-top: 50px;
    }
    .main-blog-area .card h2{
      margin-top: 120px;
    }
    .main-blog-area .card{
      width: 100%;
      max-height: 390px;
    }
    .main-blog-area .big-card{
      width: 100%;
      max-height: 20px;

    }
    .main-blog-area .big-card .card-body img{
      width: 100%;
      max-height: 900px;

    }

    .main-blog-area .big-card .card-header{
      margin: 0px;
      padding: 0px;
      float: left;
    }
    .main-blog-area .big-card .card-body img{
      width: 40%;
      max-height: 900px;
    }
    .aside-column{
      display: none;
    }

    .main-column{
      width: 100%
    }  
     .main-blog-area .main-post .main-post-data img{
      float: left;
      width: 50%;
    }
    .main-blog-area .main-post .main-post-data h1{
float: right;
  }
}


  @media only screen and (max-width: 375px) {


 form{
    display: none;
  }
    .container .card{
      width: 100%;
    }

    .container article{
      width: 100%;
    }
    .container article img{
      width: 100%;
    }
    .main-blog-area .card{
      width: 100%;
      max-height: 280px;
    }
    .main-blog-area .card img{
      width: 100%;
      float: left;
    }

    .main-blog-area .big-card{
      width: 100%;
      max-height: 900px;

    }
    .main-blog-area .big-card .card-header h2,.main-blog-area .big-card .card-header p{
      margin: 0px;
      padding: 0px;
    }
    .main-blog-area .big-card .card-body img{
      width: 100%;

    }

    .main-blog-area .big-card .card-header{
      margin: 0px;
      padding: 0px;
      float: left;
    }
    .main-blog-area .big-card .card-body img{
      width: 40%;
    }

    .blog_main-post .blog_item-post{
      width: 100%;
      float: left;
    }

    .blog_main-post{
      width: 100%;
    }
    .aside-column{
      display: none;
    }

    .main-column{
      width: 100%
    }
     .main-blog-area .main-post .main-post-data img{
      float: left;
      width: 50%;
    }
    .main-blog-area .main-post .main-post-data h1{
      float: right;
    }

  }

  @media only screen and (max-width: 411px) {

     form{
    display: none;
  }
    .container .card{
      width: 100%;
    }

    .container article{
      width: 100%;
    }
    .container article img{
      width: 100%;
    }
    .main-blog-area .card{
      width: 100%;
      max-height: 280px;
    }
    .main-blog-area .card img{
      width: 100%;
      float: left;
    }
    .main-blog-area .card p{
      margin-top: 50px;
    }
    .main-blog-area .card h2{
      margin-top: 120px;
    }
    .main-blog-area .card{
      width: 100%;
      max-height: 280px;
    }
    .main-blog-area .big-card{
      width: 100%;
      max-height: 900px;

    }

    .main-blog-area .big-card .card-header h2,.main-blog-area .big-card .card-header p{
      margin: 0px;
      padding: 0px;
    }
    .main-blog-area .big-card .card-body img{
      width: 100%;

    }

    .blog_main-post .blog_item-post{
      width: 100%;
      float: left;
    }

    .blog_main-post{
      width: 100%;
    }

    div .btn_post{
      margin-top: 20px;
      margin-bottom: 8px;
      margin-left: 0px;
      width: 100%;
      float: right;
    }
    .look_more-post{
      text-decoration: none;
      color: #ffffff;
      background-color: #e40c78;
      border-radius: 20px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 15px;
      margin-bottom: 55px;
    }
    .aside-column{
      display: none;
    }

    .main-column{
      width: 100%
    }
     .main-blog-area .main-post .main-post-data img{
      float: left;
      width: 50%;
    }
     form{
    display: none;
  }

    
  }


  @media only screen and (max-width: 520px) {
form{
  display: none;
}

}
  @media only screen and (max-width: 760px) {






form{
  margin-left: 80px;
}

section .container{
  width: 100%;
}

    .container .card{
      width: 100%;
    }
    .container article{
      width: 100%;
    }
    .container article img{
      width: 100%;
    }
    .main-blog-area .card{
      width: 100%;
      max-height: 280px;
    }
    .main-blog-area .big-card{
      width: 80%;
      max-height: 900px;

    }
    .main-blog-area .big-card .card-header h2,.main-blog-area .big-card .card-header p{
      margin: 0px;
      padding: 0px;
    }
    .main-blog-area .big-card .card-body img{
      width: 100%;
      
    }

    .blog_main-post .blog_item-post{
      width: 100%;
      float: left;
    }

    .blog_main-post{
      width: 100%;
    }
    .aside-column{
      display: none;
    }
    .main-column{
      width: 100%
    }
     .main-blog-area .main-post .main-post-data img{
      float: left;
      width: 50%;
    }

  }


  @media only screen and (min-width: 415px) and (max-width: 1040px){
    .main-blog-area .card{
      width: 70%;
      max-height: 180px;
    }
    .main-blog-area .card img{
      width: 40%;
      float: left;
    }
    .main-blog-area .big-card{
      width: 80%;
      max-height: 900px;
    }
    .main-blog-area .card{
     border-top: 0.5px solid #2b2d32;
   }
   .main-blog-area .big-card .card-header{
    margin: 0px;
    padding: 0px;
  }
  .main-blog-area .big-card .card-body img{
    width: 40%;
  }
  .main-blog-area .big-card .card-header h2,.main-blog-area .big-card .card-header p{
    margin: 0px;
    padding: 0px;
  }
  .main-blog-area .big-card .card-body img{
    width: 100%; 
  }
  .blog_main-post .blog_item-post{
    width: 100%;
    float: left;
  }
  .blog_main-post{
    width: 80%;
  }
   .aside-column{
      display: none;
    }

    .main-column{
      width: 100%
    }
     .main-blog-area .main-post .main-post-data img{
      float: left;
      width: 50%;
    }

}
  @media only screen and (min-width: 1041px) and (max-width: 1298px){

.col-sm-offset-1{
  margin: 0px;
  padding: 0px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 81%;
  float: right;
  font-style: italic;
}



}



