body{
  background-color: #ffffff;
  font:15px/1.5 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:hover {
   text-decoration:none;
   color: gray;
}
p:hover {
   text-decoration:none;
   color: gray;
}
a{
   text-decoration:none;
   color: #000000;
}

ul{
  margin: 0;
  padding: 0;
}
.submit{
  height: 30px;
  background: #e40c78;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
span .f-header, span .f-para{
  float: right;
}
span .f-header{
}
article a{
  text-decoration: none;color: #ffffff
}
article p{
  padding-top: 10px;
  color: #e40c78;
}
article span{
  padding-top: 80px;
}

/*Header*/
section a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

section ul{
  margin: 0;
  padding: 0;
}
section li{
  margin-top: 20px;
  float: left;
  display: inline;
  padding: 0 0px 0 30px;
}
section li a{
  font-size: 12px;
}
section li a:hover{
  text-decoration: none;
  color: gray;
}
section .navbar{
  margin-top: 0px;
  background: transparent;
  width: 60%;
  float: left;
  border: none;
  margin-left: -60px;

}

section .current a{
  color: #e40c78;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 100px;
    object-fit: cover;

}
#newsLetter{
 background: #2b2d32;
  color: #ffffff;
  padding-top: 0px;
  max-height: 54px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#newsLetter form{
  float: right;
  margin-top: 11px;

}
span #nav{
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}
form .search{
padding: 1px;
height: 30px;
width: 200px;
color: #000000;
  }
  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}


  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;

}
.container .row .main-column{
  
  margin-right: 70px !important;

}
#main-post{
  width: 71%;
  float: left;
  margin-bottom: 10px;
}

.container .row .main-column .full-text{
  background-color: #ffffff;
}
blog_main-post{
  width: 100%;
  margin-left: 22px;

 
}

 .column .col-sm-3{
  margin-top: 5px;
  margin-left: 120px;
  width: 75%;
  
}
 .column .col-sm-3 img{
  margin-top: 5px;
  margin-left: 14px;
  width: 220px;
 }

  .column .col-sm-3 .pull-left{
margin-top: 25px;
margin-left: 14px;
width: 220px;
  }


 .column .col-sm-3 .post-title{
margin-left: 15px;
color: #1C2833;
font-size: 16px;
width: 240px;
 }

  .column .col-sm-3 .date__time{
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: -15px;
    color: gray;
  }


  @media only screen and (max-width: 1341px) {
    form{
      display: none;
    }
    .column .col-sm-3{
      display: none;
    }
    #main-post{
      width: 100%;
    }
}


  @media only screen and (max-width: 800px) {
    
    #main-post{
      width: 100%;
    }
}


@media (min-width: 1341px) and (max-width: 1536px) {
    .column .col-sm-3{
      width: 76%;
    }
    #main-post{
      width: 55%;
    }
}








  @media only screen and (max-width: 2000px)  and(min-width: 1999px) {
  
    .column .col-sm-3{
      width: 16.5%;
    }
    #main-post{
      width: 75%;
    }
}
