  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;

}

.center{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.c-rock-list__title:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 2;
  }
  .c-rock-list__title:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.c-rock-list__title {
    font-family: Arial Narrow,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.6em;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    text-align: center;
    padding: 0 16px 8px 16px;
    margin: 0;
    color: #e40c78;
}
.c-rock-list__title {
    position: relative;
        width: 70%;

}
.c-rock-list__body {
    position: relative;
    }
    .c-rock-list__body {
    position: relative;
    width: 70%;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
  }
  .c-rock-list__body:after {
    position: absolute;
    background-color: #393092;
    width: 2px;
    content: "";
    bottom: 130px;
    right: -1px;
    top: -2px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list {
    background-color: #ffffff;
    color: #424242;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    }
    *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__more:after {
    bottom: -12px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
  }
  .c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
  }
  .c-rock-list__more:after {
    display: ;
    margin-left: 4px;
    content: " \25B6";
    font-size: .5em;
    vertical-align: middle
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
 .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
}
.c-rock-list__more:before {
    bottom: -10px;
    left: 0;
    right: -4px;
    text-decoration: none;
}
.c-rock-list__more:hover{
    color: black;

}


.navbar-nav li{
	font-size: 1.2em;

	
}
.Line{
	margin-top: -20px;
}
.footer{
	padding: 10px;
	border-top: 1px solid black;
	color: #eeeeee;
	background-color: #000000;
	text-align: center;

}

.blogpost{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}

#headings:hover{
	color: #0090DB;

}
#nav:hover{
	background-color: black;
}



#heading:hover{
	color: #0090DB;
}

.description{
	color: #868686;
	margin-top: -2px;
}
.description:hover{
        color: #0090DB;

}
.post{
	font-size: 1.1em;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-align: justify;


}
.btn-info{
	float: right;
}
.imageicon{
	max-width: 50px;
	margin: 0 auto;
	display: block;

}
.background{
	background-color: #F6F7F9;
}

 .Recently{
    background-color: #F6F7F9;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.center{
	  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.search:hover{
    background-color: white;
}
.col-sm-offset-1{
    margin-top: 280px;
    margin-left: 5px;
}
.btn-more-p{
    background-color: #e40c78;
    color: #ffffff;
    padding: 8px;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 200px;
    text-decoration: none;

   }
 #footer-area{
    padding: 90px 0 60px 0;
    background: #000;
    color: #fff;
      font-family: 'Times New Roman', Times, serif;

}
.footer-social{
    margin-top: 20px;

}
.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
  font-family: 'Times New Roman', Times, serif;
}
.link-area li{
  padding: 5px 5px 5px;
  list-style: none;
}
.link-area li a{
  text-transform: capitalize;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.link-area li a i{
  margin-right: 10px;
  color: #e40c78;
}
.link-area{
  padding: 0;
}
.single-footer p{
  font-family: 'Times New Roman', Times, serif;
}
.footer-social li a{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #000;

}

.footer-social li a i{
  color: #e40c78;
  padding: 8px;
}
.widget li{
  float: left;
  width: 50%;
}
.copyright-area{
  background: #262626;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: -59.9px;
  border-right: none;border-left: none;-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;

}
.copyright-area p{
  font-weight: 600;
  color: #e40c78;
  margin-top: 20px;
}
.copyright-header{
  background: #000;
  padding: 30px 0;
  margin-top: 1px;
  border-radius: 5px;
}
.copyright-header p{
  font-weight: bold;
  color: #e40c78;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}
.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 18em;
  margin-left: -152px;
}

 .search-box:hover > .search-text{
width: 240px;
padding: 0 6px;
}

.search-btn{
  color: #e40c78;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.search-text{
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  margin-top: 8px;
  width: 0px;
  background: #2f3640;
  border-radius: 10px;
}
.navbar{
	background-color: #000000;
	border: none;
	border: 0.5px solid gray;
	width: 99.9%;border-right: none;
	 border-left: none;-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}
.container{
	"background-color: white;
	width: 1300px;
}

