  @media only screen and (max-width: 601px) {
#main_img{
	 width:  10%;
    height: 46px;
    background-size: cover;"
}

  }

 @media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}